<div class="follow-do-zone">
<% if current_user != users %>
  <div id="follow_form">
  <% if current_user.following?(users) %>
    <%= form_for(current_user.active_relationships.find_by(followed_id: users.id),
                 html: { method: :delete }) do |f| %>
      <%= f.submit "Unfollow", class: "unfollow-do-btn" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.active_relationships.build) do |f| %>
      <div><%= hidden_field_tag :followed_id, users.id %></div>
      <%= f.submit "Follow", class: "follow-do-btn" %>
    <% end %>
  <% end %>
  </div>
<% end %>
</div>