<div class="container">
  <div class="user-edit-box">
  	<%= form_for @user, url: user_path do |f| %>
  		<h4>苗字</h4>
  			<%= f.text_field :last_name, autofocus: true, id:"inputLastname", placeholder:"苗字"%>
  		<h4>苗字かな</h4>
  			<%= f.text_field :last_name_kana, autofocus: true, id:"inputLastnamekana", placeholder:"苗字かな"%>
  		<h4>名前</h4>
  			<%= f.text_field :first_name, autofocus: true, id:"inputFirstname", placeholder:"名前"%>
  		<h4>名前かな</h4>
  			<%= f.text_field :first_name_kana, autofocus: true, id:"inputFirstname", placeholder:"名前かな"%>
  		<h4>ニックネーム</h4>
  			<%= f.text_field :nickname, autofocus: true, id:"inputNickname", placeholder:"ニックネーム"%>
  		<h4>E-mail</h4>
  			<%= f.text_field :email, autofocus: true, id:"inputEmail", placeholder:"E-mail"%>
  		<h4>ユーザ画像</h4>
  	        <%= f.attachment_field :image, class: "image", type:'file' %>
  		<br>
  		<div class="preview"></div>
  		<h4>Introduction</h4>
  				<%= f.text_area :introduction, autofocus: true, class:"introduction", id:"inputIntroduction", placeholder:"自己紹介"%><br>
  			<%= f.submit 'User Update',class: 'user-edit-btn', style:"width:150px; margin-top:10px; margin-bottom:30px;" %>
  	<% end %>
  </div>
</div>

<script>
	$(function(){
  //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
  $('form').on('change', 'input[type="file"]', function(e) {
    var file = e.target.files[0],
        reader = new FileReader(),
        $preview = $(".preview");
        t = this;

    // 画像ファイル以外の場合は何もしない
    if(file.type.indexOf("image") < 0){
      return false;
    }

    // ファイル読み込みが完了した際のイベント登録
    reader.onload = (function(file) {
      return function(e) {
        //既存のプレビューを削除
        $preview.empty();
        // .prevewの領域の中にロードした画像を表示するimageタグを追加
        $preview.append($('<img>').attr({
                  src: e.target.result,
                  width: "200px",
                  class: "preview",
                  title: file.name
              }));
      };
    })(file);

    reader.readAsDataURL(file);
  });
});

</script>