<div id="container">
	<div id="theTarget">
		<div class="Top1"><p>∴さて・・・・ どこへ行こうか？</p></div>
		<div class="Top2"><p>∴さて・・・・ どこへ行こうか？</p></div>
		<div class="Top3"><p>∴さて・・・・ どこへ行こうか？</p></div>
		<div class="Top4"><p>∴さて・・・・ どこへ行こうか？</p></div>
		<div class="Top5"><p>∴さて・・・・ どこへ行こうか？</p></div>
	</div>
</div>


<div class="container">
	<div class="col-sm-4">
	<div class="user-box" style="text-align: center;">
		<%= attachment_image_tag @user, :image, :fill, 200, 200, class:"image-to-circle user-image", fallback: "No_image.png",size: '200x200' %><br>
		<p><%= @user.nickname %></p>
		<p><%= @user.introduction %></p>
	<% @users ||= current_user %>
	  <div class="stats follow-zone">
	    <a href="<%= following_user_path(@users) %>" class="follow-btn" style="text-decoration:none; margin: 5px;">
	      <strong id="following" class="stat">
	        <%= @users.following.where(deleted: 'false').count %>
	      </strong>
	      following
	    </a><br>
	    <a href="<%= followers_user_path(@users) %>" class="follow-btn" style="text-decoration:none;">
	      <strong id="followers" class="stat">
	        <%= @users.followers.where(deleted: 'false').count %>
	      </strong>
	      followers
	    </a>
	  </div>
	</div>
	<div class="user-box ranking-box">
		<div class="following-post-title"><i class="fas fa-crown"></i> Favorite Ranking <i class="fas fa-crown"></i></div>
	      <% @all_ranks.each do |rank| %>
	        <li class=""><%= link_to post_path(rank.id) do %>
	                      <%= attachment_image_tag rank.images.last, :image, fallback: "No_image.png",size: '100x100', class:"ranking-image" %>
	          <span style="padding-left: 15px;"><%= rank.title %><% end %></span></li>
	      <% end %>
	</div>
</div>

<div class="col-sm-6">
	<%= render 'posts/list', results: @results, search: @search %>
</div>
	<div class="col-sm-7">
		<div class="index-post-box">
			<div class="fpost-list-nav">
				<ul>
					<% @feed_items.where.not(user_id: @delete_user).each do |post| %>
						<li><%= link_to post_path(post.id) do %>
						    <%= attachment_image_tag post.images.last, :image, fallback: "No_image.png",size: '150x150', class:"post-image" %>
						            <% end %>
						    <%= link_to post.title, post_path(post.id), class:"post-title" %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-7">
		<div class="index-your-box">
		<div class="post-list-nav">
			<% @posts.each do |ypost| %>
				<li class="post-nav-item"><%= link_to post_path(ypost.id) do %>
			    	<%= attachment_image_tag ypost.images.last, :image, fallback: "No_image.png",size: '150x150', class:"post-image" %>
			        <% end %>
			    	<%= link_to ypost.title, post_path(ypost.id), class:"post-title" %>
			    </li>
			<% end %>
		</div>
		</div>
	</div>
</div>

</div>
<script>

// $(document).on('turbolinks:load',function () {
  $("#theTarget").skippr({
      // スライドショーの変化 ("fade" or "slide")
      transition : 'fade',
      // 変化に係る時間(ミリ秒)
      speed : 1000,
      // easingの種類
      easing : 'easeOutQuart',
      // ナビゲーションの形("block" or "bubble")
      navType : 'block',
      // 子要素の種類("div" or "img")
      childrenElementType : 'div',
      // ナビゲーション矢印の表示(trueで表示)
      arrows : false,
      // スライドショーの自動再生(falseで自動再生なし)
      autoPlay : true,
      // 自動再生時のスライド切替間隔(ミリ秒)
      autoPlayDuration : 6000,
      // キーボードの矢印キーによるスライド送りの設定(trueで有効)
      keyboardOnAlways : false,
      // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
      hidePrevious : false
  });
// });
</script>

