<div id="container">
	<div id="theTarget">
		<div class="Top1"><p>∴さて・・・・ どこへ行こうか？</p></div>
		<div class="Top2"><p>∴さて・・・・ どこへ行こうか？</p></div>
		<div class="Top3"><p>∴さて・・・・ どこへ行こうか？</p></div>
	</div>
</div>


<div class="container">
	<div class="user-box col-sm-3" style="text-align: center;">
		<%= attachment_image_tag @user, :image, :fill, 200, 200, class:"image-to-circle user-image", fallback: "No_image.png",size: '200x200' %><br>
		<p><%= @user.nickname %></p>
		<p><%= @user.introduction %></p>
	<% @users ||= current_user %>
	  <div class="stats follow-zone">
	    <a href="<%= following_user_path(@users) %>" class="follow-btn" style="text-decoration:none; margin: 5px;">
	      <strong id="following" class="stat">
	        <%= @users.following.where(deleted: 'false').count %>
	      </strong>
	      following
	    </a><br>
	    <a href="<%= followers_user_path(@users) %>" class="follow-btn" style="text-decoration:none;">
	      <strong id="followers" class="stat">
	        <%= @users.followers.where(deleted: 'false').count %>
	      </strong>
	      followers
	    </a>
	  </div>
	</div>

	<div class="col-sm-8">
		<%= render 'posts/list', results: @results, search: @search %>

		<div class="post-list-nav">
			<% @feed_items.where.not(user_id: @delete_user).each do |post| %>
				<li class="post-nav-item"><%= link_to post_path(post.id) do %>
			              	<%= attachment_image_tag post.images.last, :image, :fill, 200, 200, fallback: "No_image.png",size: '200x200', class:"post-image" %>
			              <% end %>
			    <%= link_to post.title, post_path(post.id), class:"post-title" %></li>
			<% end %>
		</div>
	</div>
</div>

