<div class="user-index">
	<% provide(:first_name || :last_name, 'Users') %>
	<div class="search-zone" style="float:left">
		<%= search_form_for @search, url: management_path, method: :get do |f| %>
		  <div class="form-group">
		    <%= f.label :first_name_cont, "Search" %>
		    <%= f.text_field :first_name_or_last_name_or_nickname_cont, class: "form-control" %>
		  </div>
		  <div class="search-btn-zone">
		  	<%= f.submit "Let's Search", class:"search-btn" %>
		  </div>
		</div>
	<% end %>
	<table class="clip-box-b">
		<% @results.each do |user| %>
			<tr>
				<th><span><%= link_to user_path(user.id) do %>
					<%= attachment_image_tag user, :image, :fill, 80, 80, fallback: "No_image.png",size: '80x80', class:"user-image" %>
					<% end %></span></th>

				<th><%= link_to user.nickname, user_path(user.id), class:"user-name" %></th>
			<% end %>
			</tr>
	</table>
</div>