<div class="container">
  <div class="clip-box-c">
    <div class='follow-title'>
      <% provide(:title, @title) %>
      <h3><%= @title %></h3>
    </div>
        <section class="stats">
          <% if @users.any? %>
            <div class="user-index">
              <table>
              <% @users.each do |user| %>
              <tr>
                  <th><span><%= link_to user_path(user.id) do %>
                          <%= attachment_image_tag user, :image, :fill, 70, 70, fallback: "No_image.png",size: '70x70', class:"user-image" %>
                        <% end %>
                  </span></th>
                  <th><%= link_to user.nickname, user_path(user.id) %></th>
                <% end %>
              </tr><br>
              </table>
            </div>
          <% end %>
        </section>
      </aside>
      <div class="col-md-8">
        <% if @users.any? %>
          <ul class="users follow">
          </ul>
          <%= will_paginate %>
        <% end %>
      </div>
    </div>
  </div>
</div>