<div class="container">

<div class="col-sm-3">
<div class="user-action-zone">
  <%= attachment_image_tag @users, :image, :fill, 200, 200, class:"image-to-circle", fallback: "No_image.png",size: '200x200' %><br>
  <% if @users.id == current_user.id || current_user.admin == true %>
  	<%= @users.last_name %>
  	<%= @users.first_name %><br>
  <% end %>
  <%= @users.nickname %><br>
  <%= @users.introduction %>

  <% @users ||= current_user %>
  <div class="stats follow-zone">
    <a href="<%= following_user_path(@users) %>" class="follow-btn" style="text-decoration:none; margin: 5px;">
      <strong id="following" class="stat">
        <%= @users.following.where(deleted: 'false').count %>
      </strong>
      following
    </a><br>
    <a href="<%= followers_user_path(@users) %>" class="follow-btn" style="text-decoration:none;">
      <strong id="followers" class="stat">
        <%= @users.followers.where(deleted: 'false').count %>
      </strong>
      followers
    </a>
  </div>


  <%= render 'relationships/list', users: @users %>

  	<% if @users.id == current_user.id || current_user.admin == true %>
  		<%= link_to "User Edit", edit_user_path(@users.id), class:"edit_user_#{@users.id} user-edit-btn", style:"text-decoration:none; margin-bottom:5px;" %><br>
  		<%= link_to "Quit", user_path(@users.id, :user => {:deleted => 'true'}), method: :delete, class:"destroy_user_#{@users.id} quit-btn", style:"text-decoration:none;", "data-confirm" => "Arkheを退会します。よろしいですか？" %>
  	<% end %>
  </div>
</div>

  <%= render 'posts/list', results: @results, search: @search %>
  <div class="col-sm-8">
    <div class="your-post-box">
    <div class="post-action-zone">
  		<% @posts.each do |post| %>
        <span class="post-index"><%= link_to post_path(post.id) do %>
          <li class="your-nav-item"><%= attachment_image_tag post.images.last, :image, fallback: "No_image.png",size: '80x80', class:"post-image" %>
          <% end %>
        </span>
  			<%=link_to post.title, post_path(post.id), class:"post-title" %>
        <% if @user == current_user %>
              <%= link_to "Post Edit", edit_post_path(post.id), class:"post-edit-btn", style:"text-decoration:none;" %>
              <%= link_to "Post Delete", post_path(post.id, :post => {:deleted => 'true'}), method: :delete, class:"destroy_post#{post.id} post-delete-btn", style:"text-decoration:none;", "data-confirm" => "投稿を削除します。よろしいですか？" %>
          <% end %></li>
  		<% end %>
    </div>
  </div>
  </div>

<% if @users.id == current_user.id || current_user.admin == true %>
  <div class="col-sm-8">
    <div class="fav-post-box">
      <div class="fav-list-nav">
        <ul>
          <% @user.favorite_posts.each do |fpost| %>
            <li class="your-nav-item">
              <span class="post-index"><%= link_to post_path(fpost.id) do %>
            <%= attachment_image_tag fpost.images.last, :image, fallback: "No_image.png",size: '110x110', class:"post-image" %></span>
          <% end %>
        <%=link_to fpost.title, post_path(fpost.id), class:"post-title" %></li>
      <% end %>
      </span>
    </ul>
    </div>
  </div>
  </div>
  <% else %>
<% end %>

</div>

