<% provide(:title, 'All posts') %>
	<h1>投稿一覧</h1>

	<%= search_form_for @search  do |f| %>
	  <div class="form-group">
	    <%= f.label :title_cont, "title" %>
	    <%= f.text_field :title_cont, class: "form-control" %>
	  </div>
	  <div class="actions"><%= f.submit "Search" %></div>
	<% end %>

	<% if @results.any? %>
 		<% @results.each do |result| %>

	 		<span><%= link_to post_path(result.id) do %>
	              	<%= attachment_image_tag result.images.last, :image, :fill, 40, 40, fallback: "No_image.png",size: '40x40', class:"post-image" %>
	              <% end %>
	        </span>
	   		<p><%= link_to result.title, post_path(result.id), class:"post-title" %></p>
	 	<% end %>
	<% end %>