<div class="container">
  <input name="places_json" type="hidden" class='places_json' value=<%= @places_json %> />

  <div class="post-detail">
    <span><%= link_to user_path(@post.user_id) do %>
      <%= attachment_image_tag @post.user, :image, :fill, 60, 60, fallback: "No_image.png",size: '60x60', class:"user-image", style:"text-decoration:none;" %>
      <% end %>
    </span>
      <%= @post.title %>
      <%= @post.text %>
      <%= @post.distance %>
      <% @post.images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 200, 200, class:"", size: '200x200' %>
      <% end %>
      <% @post.places.each do |p| %>
        <%= p.address %>
        <% if current_user == @user || current_user.admin == 'true' %>
          <%= link_to "place delete", place_path(p.id), method: :delete, class:"destroy_p_#{p.id} btn-sm btn-danger", "data-confirm" => "場所を削除します。よろしいですか？" %><br>
          <% else %>
          <% end %>
  <% end %>
  </div>

  <h3>My Google Maps Demo</h3>
    <div id="map"></div>

  <div class="favorite-zone">
    <% if @post.user_id != current_user.id %>
      <% if @post.favorited_by?(current_user) %>
        <li>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            <i class="favorite-btn" aria-hidden="true">
              <%= @post.favorites.count%> Like
            </i>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to post_favorites_path(@post), method: :post do %>
            <i class="favorite-btn" aria-hidden="true">
              <%= @post.favorites.count %> Like
            </i>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li>
        <i class="favorite-number" aria-hidden="true">
              <%= @post.favorites.count %> Like
        </i>
      <% end %>
    </li>
  </div>

  <div>
  <% @post.comments.each do |comment| %>
      <span><%= comment.user.nickname %></span>
      <span><%= comment.comment %></span>
      <span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
  <% end %>
  </div>
  <div>
  <%= form_for [@post, @comment] do |f| %>
      <div class="row">
          <div class="col-sm-12">
              <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
          </div>
      </div>
          <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  <% end %>
  </div>
</div>



<script>
  function initMap() {
    var bounds = new google.maps.LatLngBounds();
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: { lat: gon.location[0], lng: gon.location[1] }
    });
    for(var i = 0; i < gon.locations.length; i++){
      marker = new google.maps.Marker({
        position: { lat: gon.locations[i][0], lng: gon.locations[i][1] },
        // title: gon.locations[i].name,
        map: map
      });
      bounds.extend (marker.position);
      map.fitBounds (bounds);
    }
    //ルート表示
    
    //ルート表示
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer
        type="text/javascript"></script>
