<div class="post-box">
<div class="container">
  <input name="places_json" type="hidden" class='places_json' value=<%= @places_json %> />

  <div class="post-text">
    <div class="post-detail">
        <div class="user-detail-box">
          <span><%= link_to user_path(@post.user_id) do %>
            <%= attachment_image_tag @post.user, :image, :fill, 150, 150, fallback: "No_image.png",size: '150x150', class:"user-image", style:"text-decoration:none;" %>
            <% end %></span>
            <span style="padding-left:20px; font-size:18px; top: 8px;"><%= link_to @post.user.nickname, user_path(@post.user_id) %></span>
            <%= render 'relationships/list', users: @user %>
        </div>
      <div class="mybox">
          <p style="font-size: 20px;"><span class="stripe"><%= @post.title %></span></p>
          <p style="font-size: 18px;"><%= @post.text %></p>
      </div>

      <p style="font-family: 'Comic Sans MS',sans-serif; font-size: 25px;">Photo</p>
        <% @post.images.each_with_index do |image, idx| %>
            <a  class="image-btn" data-toggle="modal" data-target="#modal-<%= idx + 1%>">
              <%= attachment_image_tag image, :image, :fill, 200, 200, id:"motal-"+(idx+1).to_s %>
            </a>

            <div class="modal fade" id="modal-<%= idx + 1%>" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body" style="padding:0;">
                    <%= attachment_image_tag image, :image, id:"js-show-popup" %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        </span><br>
        <div class="routes-detail-box">
            <table class="post-table">
                <p style="font-family: 'Comic Sans MS',sans-serif; font-size: 20px;"><span class="stripe">Routes</span></p>
                <% @post.places.order(order:"ASC").each_with_index do |p, i| %>
                <tr>
                <th style="font-size: 18px;"><%= i + 1%>. <%= p.address %></th>
                </tr>
                <% end %>
            </table>
                <p style="font-family: 'Comic Sans MS',sans-serif; font-size: 20px;"><span class="stripe">Total Distance</span></p>
                <p id="distance" style="font-size: 18px;"></p>
                <p style="font-family: 'Comic Sans MS',sans-serif; font-size: 20px;"><span class="stripe">Travel Time(indication)</span></p>
                <p id="time" style="font-size: 18px;"></p>
        </div>
    </div>
  </div>


<h3 style="margin-left: 60px;"><i class="fas fa-shoe-prints"></i> Walking Routes <i class="fas fa-shoe-prints"></i></h3>

    <div id="map"></div>

  <div class="favorite-zone">
    <% if @post.user_id != current_user.id %>
      <% if @post.favorited_by?(current_user) %>
        <li>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            <i class="favorite-btn" aria-hidden="true">
              <%= @post.favorites.count%> Like
            </i>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to post_favorites_path(@post), method: :post do %>
            <i class="favorite-btn" aria-hidden="true">
              <%= @post.favorites.count %> Like
            </i>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li>
        <i class="favorite-number" aria-hidden="true">
              <%= @post.favorites.count %> Like
        </i>
      <% end %>
    </li>
  </div>

      <div class="comment-list">
      <% @post.comments.each do |comment| %>
          <div class="comment-area" style="font-size: 15px;">
              <span><%= comment.user.nickname %>:</span>
              <span><%= comment.comment %></span>
              <span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span><br>
          </div>
          <% end %>
      </div>
      <div>
    <%= form_for [@post, @comment] do |f| %>
        <div class="row">
              <div class="col-sm-12">
                  <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "Comments are here" %>
              </div>
          </div>
          <div class="new-post-box">
            <div class="post-btn-zone">
                <%= f.submit "Post Comment", class: 'post-btn' %>
            </div>
          </div>
    <% end %>
      </div>
    </div>
</div>


<script>
    $(function(){
        $('.js-show-popup').on('click', function(){
            $(this).show();
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function initMap() {
    var bounds = new google.maps.LatLngBounds();
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: { lat: gon.location[0], lng: gon.location[1] },
      styles: [
        {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#6195a0"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "geometry",
            "stylers": [
                {
                    "lightness": "0"
                },
                {
                    "saturation": "0"
                },
                {
                    "color": "#f5f5f2"
                },
                {
                    "gamma": "1"
                }
            ]
        },
        {
            "featureType": "landscape.man_made",
            "elementType": "all",
            "stylers": [
                {
                    "lightness": "-3"
                },
                {
                    "gamma": "1.00"
                }
            ]
        },
        {
            "featureType": "landscape.natural.terrain",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#bae5ce"
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "saturation": -100
                },
                {
                    "lightness": 45
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#fac9a9"
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text",
            "stylers": [
                {
                    "color": "#4e4e4e"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#787878"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "transit.station.airport",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "hue": "#0a00ff"
                },
                {
                    "saturation": "-77"
                },
                {
                    "gamma": "0.57"
                },
                {
                    "lightness": "0"
                }
            ]
        },
        {
            "featureType": "transit.station.rail",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#43321e"
                }
            ]
        },
        {
            "featureType": "transit.station.rail",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "hue": "#ff6c00"
                },
                {
                    "lightness": "4"
                },
                {
                    "gamma": "0.75"
                },
                {
                    "saturation": "-68"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#eaf6f8"
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#c7eced"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "lightness": "-49"
                },
                {
                    "saturation": "-53"
                },
                {
                    "gamma": "0.79"
                }
            ]
        }
    ]


    });
    for(var i = 0; i < gon.locations.length; i++){
      marker = new google.maps.Marker({
        position: { lat: gon.locations[i][0], lng: gon.locations[i][1] },
        // title: gon.locations[i].name,
      });
    }
    //ルート表示
        var rendererOptions = {
            suppressMarkers : false,
            map: map,
        }
        var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
        var directionsService = new google.maps.DirectionsService();
        var points ={};
        var origin; // 開始地点
        var destination; // 終了地点
        var waypoints = []; // 経由地点

            //origin, destination, waypointsを設定する
            for (var i = 0; i < gon.locations.length; i++) {
                points = {lat : gon.locations[i][0], lng : gon.locations[i][1]};
                // points[i] = new google.maps.LatLng(gon.locations[i][0],gon.locations[i][1]);
                if (i == 0){
                    origin = points;
                } else if (i == gon.locations.length-1){
                    destination = points;
                } else {
                    var waylocations = new google.maps.LatLng(points.lat, points.lng);
                    waypoints.push( {location: waylocations, stopover: true} );
                }
            }

            // リクエスト作成
            var request = {
                origin:      origin,
                destination: destination,
                waypoints: waypoints,
                travelMode:  google.maps.TravelMode.WALKING,
                optimizeWaypoints: false
            };

            // ルートサービスのリクエスト
            directionsService.route(request, function(response, status) {

                if (status == google.maps.DirectionsStatus.OK) {
                    // 結果を表示する
                    directionsDisplay.setDirections(response);
                }
                var data = response.routes[0].legs;
                var dis = 0;
                var sec = 0;
                for (var i = 0; i < data.length; i++) {
                    sec += data[i].duration.value;
                    dis += data[i].distance.value;
                }
                var d = document.createElement("span");
                d.setAttribute("id", "distance");
                var dresult = Math.round(dis*100/1000) / 100;
                d.innerHTML     = dresult + "km";
                document.getElementById("distance").appendChild(d);

                var t = document.createElement("span");
                t.setAttribute("id", "time");
                var sresult = Math.round(sec*100/3600) / 100;
                t.innerHTML     = sresult  + "時間";
                document.getElementById("time").appendChild(t);
            });

      bounds.extend (marker.position);
      map.fitBounds (bounds);
    //ルート表示
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer
        type="text/javascript"></script>
