<div class="post-box">
<div class="container">
  <input name="places_json" type="hidden" class='places_json' value=<%= @places_json %> />

  <div class="post-text">
    <div class="post-detail">
      <span><%= link_to user_path(@post.user_id) do %>
        <%= attachment_image_tag @post.user, :image, :fill, 200, 200, fallback: "No_image.png",size: '200x200', class:"user-image", style:"text-decoration:none;" %>
        <% end %>
      </span>
      <div class="mybox">
          <p style="font-size: 20px;"><%= @post.title %></p>
          <p style="font-size: 18px;"><%= @post.text %></p>
      </div>
        <% @post.images.each do |image| %>
          <a href="<%= attachment_url(image, :image)%>" class="luminous">
            <%= attachment_image_tag image, :image, :fill, 200, 200, class:"luminous", size: '200x200' %>
          </a>
        <% end %></span><br>
        <table class="post-table">
            <p style="font-family: 'Comic Sans MS',sans-serif; font-size: 20px;">Routes</p>
        <% @post.places.each do |p| %>
        <tr>
          <th><%= p.address %></th>
          <% if current_user == @user || current_user.admin == 'true' %>
            <th><%= link_to "place delete", place_path(p.id), method: :delete, class:"destroy_p_#{p.id} btn-sm btn-danger", "data-confirm" => "場所を削除します。よろしいですか？" %></th>
            <% else %>
            <% end %>
            </tr>
        <% end %>
    </table>
    <p style="font-family: 'Comic Sans MS',sans-serif; font-size: 20px;">Total Distance</p>
    <p id="distance"></p>
    <p style="font-family: 'Comic Sans MS',sans-serif; font-size: 20px;">Travel Time(indication)</p>
    <p id="time"></p>
    </div>
  </div>

<h3>Walking Routes</h3>

    <div id="map"></div>

  <div class="favorite-zone">
    <% if @post.user_id != current_user.id %>
      <% if @post.favorited_by?(current_user) %>
        <li>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            <i class="favorite-btn" aria-hidden="true">
              <%= @post.favorites.count%> Like
            </i>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to post_favorites_path(@post), method: :post do %>
            <i class="favorite-btn" aria-hidden="true">
              <%= @post.favorites.count %> Like
            </i>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li>
        <i class="favorite-number" aria-hidden="true">
              <%= @post.favorites.count %> Like
        </i>
      <% end %>
    </li>
  </div>

  <div>
  <% @post.comments.each do |comment| %>
      <span><%= comment.user.nickname %></span>
      <span><%= comment.comment %></span>
      <span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
  <% end %>
  </div>
  <div>
  <%= form_for [@post, @comment] do |f| %>
      <div class="row">
          <div class="col-sm-12">
              <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "Comments are here" %>
          </div>
      </div>
          <%= f.submit "Post Comment", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  <% end %>
  </div>
</div>
</div>


<script>
    var luminousTrigger = document.querySelector('.luminous');
    if( luminousTrigger !== null ) {
        new LuminousGallery(luminousTrigger);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function initMap() {
    var bounds = new google.maps.LatLngBounds();
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: { lat: gon.location[0], lng: gon.location[1] },
      styles: [
        {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#6195a0"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "geometry",
            "stylers": [
                {
                    "lightness": "0"
                },
                {
                    "saturation": "0"
                },
                {
                    "color": "#f5f5f2"
                },
                {
                    "gamma": "1"
                }
            ]
        },
        {
            "featureType": "landscape.man_made",
            "elementType": "all",
            "stylers": [
                {
                    "lightness": "-3"
                },
                {
                    "gamma": "1.00"
                }
            ]
        },
        {
            "featureType": "landscape.natural.terrain",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#bae5ce"
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "saturation": -100
                },
                {
                    "lightness": 45
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#fac9a9"
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text",
            "stylers": [
                {
                    "color": "#4e4e4e"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#787878"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "transit.station.airport",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "hue": "#0a00ff"
                },
                {
                    "saturation": "-77"
                },
                {
                    "gamma": "0.57"
                },
                {
                    "lightness": "0"
                }
            ]
        },
        {
            "featureType": "transit.station.rail",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#43321e"
                }
            ]
        },
        {
            "featureType": "transit.station.rail",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "hue": "#ff6c00"
                },
                {
                    "lightness": "4"
                },
                {
                    "gamma": "0.75"
                },
                {
                    "saturation": "-68"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#eaf6f8"
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#c7eced"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "lightness": "-49"
                },
                {
                    "saturation": "-53"
                },
                {
                    "gamma": "0.79"
                }
            ]
        }
    ]


    });
    for(var i = 0; i < gon.locations.length; i++){
      marker = new google.maps.Marker({
        position: { lat: gon.locations[i][0], lng: gon.locations[i][1] },
        // title: gon.locations[i].name,
      });
    }
    //ルート表示
        var rendererOptions = {
            suppressMarkers : false,
            map: map,
        }
        var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
        var directionsService = new google.maps.DirectionsService();
        var points ={};
        var origin; // 開始地点
        var destination; // 終了地点
        var waypoints = []; // 経由地点

            //origin, destination, waypointsを設定する
            for (var i = 0; i < gon.locations.length; i++) {
                points = {lat : gon.locations[i][0], lng : gon.locations[i][1]};
                // points[i] = new google.maps.LatLng(gon.locations[i][0],gon.locations[i][1]);
                if (i == 0){
                    origin = points;
                } else if (i == gon.locations.length-1){
                    destination = points;
                } else {
                    var waylocations = new google.maps.LatLng(points.lat, points.lng);
                    waypoints.push( {location: waylocations, stopover: true} );
                }
            }

            // リクエスト作成
            var request = {
                origin:      origin,
                destination: destination,
                waypoints: waypoints,
                travelMode:  google.maps.TravelMode.WALKING,
                optimizeWaypoints: false
            };

            // ルートサービスのリクエスト
            directionsService.route(request, function(response, status) {

                if (status == google.maps.DirectionsStatus.OK) {
                    // 結果を表示する
                    directionsDisplay.setDirections(response);
                }
                var data = response.routes[0].legs;
                var dis = 0;
                var sec = 0;
                for (var i = 0; i < data.length; i++) {
                    sec += data[i].duration.value;
                    dis += data[i].distance.value;
                }
                var d = document.createElement("span");
                d.setAttribute("id", "distance");
                var dresult = Math.round(dis*100/1000) / 100;
                d.innerHTML     = dresult + "km";
                document.getElementById("distance").appendChild(d);

                var t = document.createElement("span");
                t.setAttribute("id", "time");
                var sresult = Math.round(sec*100/3600) / 100;
                t.innerHTML     = sresult  + "時間";
                document.getElementById("time").appendChild(t);
            });

      bounds.extend (marker.position);
      map.fitBounds (bounds);
    //ルート表示
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer
        type="text/javascript"></script>
